@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v10/HqHm7BVC_nzzTui2lzQTDZBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(http://fonts.gstatic.com/s/oswald/v10/HqHm7BVC_nzzTui2lzQTDbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}



body {
	font-family: "Oswald",sans-serif;
	font-size:20px;
	font-weight: 500;
	color:#3f3f3f;
	text-align: center;
}

div {
	float: left;
}

p {
	margin: 0 0 3em 0;
	padding: 0 1em 0 1em;
	text-align: justify;
}

div.main_div {
	width: 800px;
	float:none;
	text-align: left;
}

div.wide100 {
	width: 100%;
}

div.centered {
	text-align: center;
}

div.logotype_div {
	text-align: center;
	margin: 1em 0 1em 0;
}

div.label {
	width: 100%;
	padding:8px 0em 8px 0em;
	margin: 1em 0 1em 0;
	background:#ef0000;
	color: #fff;
	font-weight: bold;
}


